.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
bin/Auxiliares/Leitura.class
bin/GUI/GUI.class
bin/Main/Main.class
bin/Menu/Menu.class
bin/calculos/Calculadora.class
bin/Auxiliares/Leitura.class
bin/Auxiliares/Leitura.class
bin/calculos/Calculadora.class
bin/GUI/GUI.class
bin/calculos/Calculadora.class
bin/GUI/GUI.class
bin/Main/Main.class
bin/Main/Main.class
bin/Menu/Menu.class
bin/Menu/Menu.class
.classpath
.project
